{
    "env": "production",
    "express": {
        "host": "localhost",
        "port": 5050
    },
    "api": "http://localhost:5050",
    "mongo": {
        "uri": "mongodb://localhost:27017/expenseTracker"
    },
    "jwt": {
        "expiry": 1200,
        "secret": "mysecret"
    }
}